.title2{
    margin-top: -40px;
    margin-left: auto;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
}
.style-btn-all-cal{
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
}

.style-btn-main{
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.style-btn-main:hover{
    background-color: #0be193;
}
